<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!-- User -->
        <div class="user-box">
        <% if user_signed_in? %>
            <div class="user-img">
                <img src="<%= current_user.avatar.thumb %>" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail img-responsive">
                <div class="user-status offline">
                    <i class="mdi mdi-adjust"></i>
                </div>
            </div>
            <h5><a href="#"><%= current_user.username%></a> </h5>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="/mypage" >
                        <i class="mdi mdi-settings" style="font-size: 25px;"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="/users/sign_out" class="text-custom"  data-method="delete" >
                        <i class="mdi mdi-power" style="font-size: 25px;"></i>
                    </a>
                </li>
            </ul>
        <% else %>
            <a href="/users/sign_in" class="text-custom">
                <i class="mdi mdi-power" style="font-size: 50px;"></i>
            </a>
        <% end %>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
            	<li class="text-muted menu-title">메뉴</li>

                <li>
                    <a href="/" class="waves-effect"><i class="mdi mdi-robot"></i> <span> 매칭 </span> </a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
                        <i class="mdi mdi-library-plus"></i>
                        <span> 게시판 </span> 
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="/boards/lol">League Of Legends</a></li>
                        <li><a href="/boards/ow">Overwatch</a></li>
                        <li><a href="/boards/pubg">Player Unknown's Battleground</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>
            