<div id="gameviewbox" class="modal-demo card border-primary" style="">
    <button type="button" class="close" onclick="Custombox.close(); Clearbox();">
        <span>×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title bg-primary">상세보기</h4>
    <div class="custom-modal-text text-left  w-100">
        <div class="d-flex align-items-start flex-column  w-100">
           <div class="text-primary w-100 gameinfoarea">

           </div>
       </div>
    </div>
</div>